<footer class="padding-section text-center" id="contato">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                RUA CARNEIRO LOBO, 468 - 502 - 5o ANDAR
                <br>
                ÁGUA VERDE - CEP 80.240-240 - CURITIBA/PR
                <br>
                041 3023-3031
                <br>
                AKON@AKONENGENHARIA.COM     
            </div>
            <div class="col-sm-6 col-social mt-5 mt-sm-0">
                <img src="assets/instagram.png" alt="instagram">
                <img src="assets/linkedin.png" alt="instagram">
                <img src="assets/whatsapp.png" alt="instagram">
            </div>
        </div>
    </div>
</footer>