<footer class="padding-section text-center" id="contato">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Rua Comendador Araújo, 499 10º andar
                <br>
                Centro 80 Curitiba - PR, 80420-000
                <br>
                041 3023-3031
                <br>
                AKON@AKONENGENHARIA.COM  
                <br>
                <div class="row mt-5">
                    <div class="col-social">
                        <a href="mailto:akon@akonengenharia.com">
                            <img src="assets/e-mail.png" alt="email">
                        </a>
                        <a href="https://www.linkedin.com/company/akonengenharia/about/" target="_blank">
                            <img src="assets/linkedin.png" alt="instagram">
                        </a>
                        <a>
                            <img src="assets/whatsapp.png" alt="instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-sm-0 mt-5 col-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.0336204112664!2d-49.2798261!3d-25.437139499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce520e0b18bcb%3A0x9a7dab3e15badd21!2sCorporate%20Evolution%20-%20R.%20Comendador%20Ara%C3%BAjo%2C%20499%20-%20Centro%2C%20Curitiba%20-%20PR%2C%2080420-000!5e0!3m2!1spt-BR!2sbr!4v1690768220527!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>