<header>
    <nav class="navbar navbar-expand-lg navbar-light px-3 py-1 fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"
                ><img style="max-width: 40px" src="assets/logo.png" alt="Akon Engenharia Logo"/>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-content-position" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link mx-4" href="#empresa">Empresa</a>
                    <a class="nav-item nav-link mx-4" href="#sobre">Sobre</a>
                    <a class="nav-item nav-link mx-4" href="#obras">Obras</a>
                    <a class="nav-item nav-link mx-4" href="#servicos">Serviços</a>
                    <a class="nav-item nav-link mx-4" href="#contato">Contato</a>
                </div>
            </div>
        </div>
    </nav>
</header>