<section class="padding-section">
    <div class="container">
      <article class="d-flex row">
          <div class="col-sm-4 d-flex justify-content-sm-end me-5">
              <h2 class="text-akon fw-bold">Akon<br> Engenharia</h2>
          </div>
          <div class="col-sm-6 d-flex">
              <p>
                  A Akon Engenharia é uma empresa que se compromete a fornecer aos seus clientes os melhores serviços possíveis. Nossa equipe de profissionais é altamente qualificada e experiente, e estamos sempre buscando novas maneiras de ir além das expectativas dos nossos clientes.
              </p>
          </div>    
      </article>
  
      <article class="d-flex row text-center justify-content-center gap-2 mt-5">
          <div class="row row-cols-1 row-cols-lg-3 g-4">
              <div class="col">
                <div class="card h-100 card-about">
                  <div class="card-body">
                      <img class="mb-3" src="assets/missao.png" alt="ícone de missão">
                      <h5 class="card-title fw-bold">Missão</h5>
                      <p class="card-text">Conceber, desenvolver e executar obras de qualidade, no prazo e no melhor valor de mercado.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 card-about">
                  <div class="card-body">
                      <img class="mb-3" src="assets/visão.png" alt="ícone de visão">
                      <h5 class="card-title fw-bold">Visão</h5>
                      <p class="card-text">Ser uma empresa de alto nível técnico e de qualidade no ramo de construção civil e engenharia.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 card-about">
                  <div class="card-body">
                      <img class="mb-3" src="assets/valores.png" alt="ícone de valores">
                      <h5 class="card-title fw-bold">Valores</h5>
                      <p class="card-text">Segurança, qualidade, respeito ao cliente, respeito aos funcionários, respeito aos fornecedores, respeito ao prazo, meio ambiente e sustentabilidade.</p>
                  </div>
                </div>
              </div>
            </div>
      </article>
    </div>
</section>
