<section class="padding-section section-bg-white">
    <div class="container">
        <section class="first-content-about d-flex row">
            <article class="col-sm-4 d-flex justify-content-sm-end align-self-center text-center me-5">
                <h2 class="fs-1 pe-3 text-akon fw-bold">Serviços</h2>
            </article>
    
            <article class="col-sm-6 d-flex flex-column mt-sm-0 mt-4">
                <p>Nossa equipe de engenheiros altamente qualificados e experientes possui um histórico comprovado de sucesso na realização de empreendimentos de engenharia. Utilizamos técnicas modernas de planejamento e dimensionamento de recursos para garantir que os projetos sejam executados dentro do prazo e orçamento, mantendo o mais alto padrão de qualidade.</p>
                <p class="fs-4 fw-bold">Segurança no seu investimento!</p>
                <p>Garantia e tranquilidade do seu projeto. Conte Conosco!</p>
            </article>
        </section>

        <section class="mt-5">
            <ul class="d-flex justify-content-around row mt-4">
                <li class="col-sm-3">Execução de Obras de Construção Civil e Engenharia, podendo ser nos regimes de preço fechado, built to suit e por administração.</li>
                <li class="col-sm-3">Gerenciamento de Obras, com planejamento e controle da produção e dos recursos necessários.</li>
                <li class="col-sm-3">Gerenciamento e Compatibilização de Projetos.</li>
            </ul>
        </section>
    
        <section class="d-flex justify-content-center gap-5 mt-4 row">
            <img class="img-services rounded img-fluid col-sm-4" src="assets/work_in_progress.png" alt="Imagem de construção civil">
            <img class="img-services rounded img-fluid col-sm-4" src="assets/work_in_progress.png" alt="Imagem de construção civil">
        </section>
    
    </div>
</section>