<section class="padding-section section-bg-white">
    <div class="container">
        <section class="first-content-about d-flex row">
            <article class="col-sm-4 d-flex justify-content-sm-end align-self-center text-center me-5">
                <h2 class="fs-1 pe-3 text-akon fw-bold">Serviços</h2>
            </article>
    
            <article class="col-sm-6 d-flex flex-column mt-sm-0 mt-4">
                <p>Nossa equipe de engenheiros altamente qualificados e experientes possui um histórico comprovado de sucesso na realização de empreendimentos de engenharia. Utilizamos técnicas modernas de planejamento e dimensionamento de recursos para garantir que os projetos sejam executados dentro do prazo e orçamento, mantendo o mais alto padrão de qualidade.</p>
                <p class="fs-4 fw-bold">Segurança no seu investimento!</p>
                <p>Garantia e tranquilidade do seu projeto. Conte Conosco!</p>
            </article>
        </section>

        <section class="mt-5 row text-center">
            <div class="col-sm-4">
                <h3 class="fs-3 text-akon fw-bold">Obras Industriais</h3>
                <p>
                    Os profissionais da AKON somam uma vasta
                    experiência na execução e gestão de grandes 
                    obras. Trabalhamos com planejamento detalhado 
                    de custos e um rigoroso controle de qualidade
                    em todas as etapas para cumprir prazos, alcançar 
                    os melhores índices de segurança e obter
                    a melhor produtividade.
                </p>
            </div>
            <div class="col-sm-4">
                <h3 class="fs-3 text-akon fw-bold">Obras Infraestrutura</h3>
                <p>
                    O time da AKON está capacitado para atuar
                    na gestão de grandes obras de infraestrutura,
                    que normalmente geram grande impacto para
                    a comunidade e para o meio ambiente.
                    Trabalhando com modernas ferramentas de 
                    planejamento e gestão, estamos prontos para 
                    cumprir prazos desafiadores e corresponder
                    às mais rigorosas exigências técnicas.
                </p>
            </div>
            <div class="col-sm-4">
                <h3 class="fs-3 text-akon fw-bold">Obras Comerciais</h3>
                <p>
                    A Equipe da AKON trabalha com recursos
                    tecnológicos modernos e eficientes para oferecer 
                    total transparência ao cliente, permitindo
                    o acompanhamento da obra em tempo real
                    e garantindo o cumprimento dos prazos
                    e a precisão logística no canteiro de obras.
                </p>
            </div>
        </section>
    
    </div>
</section>