<section class="padding-section">
    <div class="container">
        <section class="first-content-about d-flex row">
            <article class="col-sm-4 d-flex justify-content-sm-end align-self-center text-center me-5">
                <h2 class="fs-1 pe-3 text-akon fw-bold">Nosso Portfólio</h2>
            </article>
    
            <article class="col-sm-6 d-flex flex-column mt-sm-0 mt-4">
                <p class="fw-bold">OS PROFISSIONAIS DA AKON JÁ ESTIVERAM
                    ENVOLVIDOS DIRETAMENTE EM IMPORTANTES
                    PROJETOS E OBRAS VOLTADAS PARA UMA GRANDE 
                    DIVERSIDADE DE APLICAÇÕES.</p>
                <p>Cada obra, com características e demandas específicas,
                    exigiu domínios técnicos apropriados e soluções
                    personalizadas que resultaram numa vasta experiência
                    e no consequente aprimoramento técnico da nossa equipe.</p>
            </article>
        </section>
        <section class="mt-5">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-sm-center">
                    <ul>
                        <li>EDIFICAÇÕES COMERCIAIS</li>
                        <li>CONCESSIONÁRIAS DE VEÍCULOS</li>
                        <li>COOPERATIVAS</li>
                        <li>EDIFICAÇÕES EDUCACIONAIS</li>
                        <li>ESTÁDIOS</li>
                        <li>HOSPITAIS</li>
                    </ul>
                </div>
                <div class="col-sm-6 d-flex">
                    <ul>
                        <li>INSTALAÇÕES INDUSTRIAIS</li>
                        <li>EDIFICAÇÕES RESIDENCIAIS</li>
                        <li>SHOPPING CENTERS</li>
                        <li>ESTANDES DE VENDAS PARA O MERCADO DA CONSTRUÇÃO</li>
                        <li>SUBESTAÇÕES ELÉTRICAS</li>
                        <li>EDIFICAÇÕES PARA O VAREJO</li>
                    </ul>
                </div>
            </div>            
        </section>
        
        <app-carousel />
    </div>
</section>